<div class="container-fluid middlePage p-3 text-light pt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center col-lg-5 mt-5 pt-5">
                <span class="fs-1">Learn</span><br>
                <b class="angular">ANGULAR</b>
                <p class="fs-1">with us here at SQI COLLEGE OF ICT.</p>
    
            </div>

            <div class="col-sm-12 col-md-12 col-lg-5 mt-5 imgTop mx-auto text-end">
               <img src="/assets/student.png"  class="img-fluid">
            </div>
        </div>

    </div>
</div>