<app-navbar></app-navbar>
  <div class="mt-5 pt-5 mb-5">
    <div class="container mt-5">
        <div class="col-6 mx-auto border border-5 p-4">
          <h3 class="text-center text-info mb-4">ADD CONTACT</h3><hr>
            <input type="text" class="form-control my-2" placeholder="First Name" [(ngModel)]="firstName">
            <input type="text" class="form-control my-2" placeholder="Last Name" [(ngModel)]="lastName">
            <input type="text" class="form-control my-2" placeholder="Phone Number" [(ngModel)]="phNumb">
            <input type="text" class="form-control my-2" placeholder="Email" [(ngModel)]="email">
            <input type="text" class="form-control my-2" placeholder="Home address" [(ngModel)]="ha">
            <input type="text" class="form-control my-2" placeholder="Gender" [(ngModel)]="gender">
            <button class="btn btn-success w-100" (click)="send()">Send</button>
        </div>
    
        <div class="row mt-3">
          <div class="col-6 shadow-lg">
            <div class="text-info fw-bold fs-5 mt-3 text-center"> All User's Details</div><hr>
            <table class="table mx-auto text-center">
            <tbody>
              <tr>
                <th>S/N</th>
                <th>FirstName</th>
                <th>Button</th>
              </tr>
          
              <tr *ngFor="let newObj of usersArray, let i = index">
                <td>
                  {{i + 1}}
                </td>
                <td>
                  {{newObj.firstName}}
                </td>
          
                <td>
                  <button class="btn btn-info" (click)="checkIndex(i)">CHECK</button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>

            <div class="col-6 shadow-lg">
              <div class="text-info fw-bold fs-5 mt-3 text-center"> Each User's Details</div><hr>

                <div class="p-2" *ngFor="let newObj of displayOneUser">
                  <div class="d-flex justify-content-between mt-2">
                    <span class="fw-bold">First Name</span>
                    <span>{{newObj.firstName}}</span>
                  </div><hr>

                  <div class="d-flex justify-content-between mt-2">
                    <span class="fw-bold">Last Name</span>
                    <span>{{newObj.lastName}}</span>
                  </div><hr>
                  
                  <div class="d-flex justify-content-between mt-2">
                    <span class="fw-bold">email</span>
                    <span>{{newObj.email}}</span>
                  </div><hr>

                  <div class="d-flex justify-content-between mt-2">
                    <span class="fw-bold">Phone Number</span>
                    <span>{{newObj.phNumb}}</span>
                  </div><hr>

                  <div class="d-flex justify-content-between mt-2">
                    <span class="fw-bold">Address</span>
                    <span>{{newObj.ha}}</span>
                  </div><hr>

                  <div class="d-flex justify-content-between mt-2">
                    <span class="fw-bold">Gender</span>
                    <span>{{newObj.gender}}</span>
                  </div><hr>

                  <button class="btn btn-success w-100" (click)="viewUser(newIndex)">VIEW USER</button>
                </div>

            </div>
        </div>
      <!-- <table class="table mx-auto text-center mt-5">
        <tbody>
          <tr>
            <th>S/N</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Check Index</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
      
          <tr *ngFor="let newObj of usersArray, let i = index">
            <td>
              {{i + 1}}
            </td>
            <td>
              {{newObj.firstName}}
            </td>
    
            <td>
              {{newObj.lastName}}
            </td>
    
            <td>
              {{newObj.email}}
            </td>
    
            <td>
              {{newObj.phNumb}}
            </td>
    
            <td>
              {{newObj.ha}}
            </td>
    
            <td>
              {{newObj.gender}}
            </td>
    
      
            <td>
              <button class="btn btn-danger" (click)="checkIndex(i)">Check</button>
            </td>
    
            <td>
              <button class="btn btn-danger" (click)="DeleteIndex(i)">Delete</button>
            </td>
    
            <td>
              <button class="btn btn-danger" (click)="checkIndex(i)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      
      <div></div>-->
    </div>
  </div>
<app-footer></app-footer>