<app-navbar></app-navbar>
<div class="mt-5 pt-5 container">
    <div class="row mx-auto  justify-content-center">
        <div class="col-sm-12 col-md-5 col-lg-3 shadow-lg rounded my-3 mx-1  p-3">
            <p class="mt-3 fw-bold f-5 text-center">Uppercase & Lowercase </p>
            <hr />
            <div><span class="text-danger">uppercase</span> {{'agriculture' | uppercase}}</div>
            <div><span class="text-success">lowercase</span> {{'HOME' | lowercase}}</div>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-3 shadow-lg rounded my-3 mx-1  p-3">
            <p class="mt-3 fw-bold f-5 text-center">Date & Time</p>
            <hr />
            <div><span class="text-warning">Date</span> {{newDate | date}}</div>
            <div><span class="text-primary"> Date Short </span>{{newDate | date:'short' }}</div>
            <div><span class="text-success"> Date Long </span>{{newDate | date:'long' }}</div>
            <div><span class="text-danger">Date full </span>{{newDate | date:'full' }}</div>
            <div><span class="text-primary">Date shortTime</span> {{newDate | date:'shortTime' }}</div>
            <div><span class="text-danger"> Date longTime</span> {{newDate | date:'longTime' }}</div>
            <div><span class="text-warning">Date fullTime </span>{{newDate | date:'fullTime' }}</div>
            <div>Date shortDate {{newDate | date:'shortDate' }}</div>
            <div>Date longDate {{newDate | date:'longDate' }}</div>
            <div>Date fullDate {{newDate | date:'fullDate' }}</div>
            <div>Date D - M - Y {{newDate | date:'d/M/Y' }}</div>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-3 shadow-lg rounded my-3 mx-1  p-3">
            <p class="mt-3 fw-bold f-5 text-center">Currency</p>
            <hr />
            <div>Currency USD{{10000 | currency }}</div>
            <div>Euro {{10000 | currency:'EUR' }}</div>
            <div>Nigeria {{10000 | currency:'NGN' }}</div>
            <div>Nigeria {{10000 | currency:'NGN':'symbol-narrow' }}</div>
            <div> {{10000 | currency:'GBP' }}</div>
            <!-- <div>Canadian dols {{10000 | currency:'CAD' }}</div> -->
            <!-- <div> {{10000 | currency:'YEN' }}</div> -->
        </div>

        <div class="col-sm-12 col-md-5 col-lg-3 shadow-lg rounded my-3 mx-1  p-3">
            <p class="mt-3 fw-bold f-5 text-center">SLICE</p>
            <hr />
            <div>{{'Investment' | slice:2:6}}</div>
            <div>{{'Information'}}</div>
            <div>{{'Information' | slice:6:8 | uppercase}}</div>
            <div>{{'Information' | slice:6:8 }}{{'e'}}</div>
            <div>{{'Information' | slice:2:5}}</div>
            <div>{{'Information' | slice:8}}</div>
            <div>{{'Information' | slice:5:8}}</div>
            <div>{{'Information' | slice:2:6}}</div>
            <div>{{'Information' | slice:0:6}}</div>
            <div>{{'Information' | slice:2:8}}</div>
            <div>{{'Information' | slice:0:8}}{{'e'}}</div>

        </div>

        <div class="col-sm-12 col-md-5 col-lg-3 shadow-lg rounded my-3 mx-1  p-3">

            <p class="mt-3 fw-bold f-5 text-center">PERCENTAGE</p>
            <hr />
            <div>{{50/2 | percent}}</div>
            <div>{{50 | percent}}</div>

        </div>
    </div>


</div>